# Discord Bot Token 設定
SHEN_ZE_TOKEN=
GU_BEICHEN_TOKEN=
FAN_CHENGXI_TOKEN=

# Google Generative AI 設定
GOOGLE_API_KEY=

# Firebase 設定
FIREBASE_CREDENTIALS_JSON={"type": "service_account","project_id": ... ,"universe_domain": "googleapis.com"}